#albom_list{
  width: 630px;
  background: green;
  
}
.row_albom{
   height: 85px;
   border: solid 3px red;
   margin: 20px;
   overflow:hidden;
}

#albom_tab{
   padding: 10px;
   overflow:hidden;
}
.size_image{
overflow:hidden;
}
#photos_container{
padding: 4px 12px 12px;
margin-top: 20px;

}
#photos_container .photo_row{
   padding: 9px 9px 9px 10px;
	width: 130px;
	height: 87px;
	display: inline-block;
}


#photos_container .photo_row a {
display: inline-block;
width: 130px;
height: 87px;
overflow: hidden;
text-align: center;
background: #F1F1F1;
}